/* ===== GENERAL ===== */
body {
  background: #0a0a0a;
  color: #fff;
  font-family: "MartianMono Nerd Font", monospace;
  overflow-x: hidden;
}

/* ===== NAVBAR ===== */
.navbar {
  box-shadow: 0 0 20px #b0030333;
  border-bottom: 1px solid #ff000033;
}

.navbar-brand span {
  color: #000000;
  text-shadow: 0 0 10px #000000;
}

.nav-link:hover {
  color: #000000 !important;
  text-shadow: 0 0 10px #c70000;
}

/* ===== CARRUSEL ===== */
.carousel {
  max-width: 900px;
  margin: 80px auto;
  background: #111;
  border-radius: 15px;
  box-shadow: 0 0 40px #ff000025;
  overflow: hidden;
}

.carousel-inner img {
  border-radius: 15px;
  object-fit: contain;
  height: 500px;
  width: 100%;
  filter: brightness(0.95);
  transition: filter 0.3s ease;
}

.carousel-inner img:hover {
  filter: brightness(1.1);
}

/* ===== CONTROLES ===== */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  border: 2px solid #ff0000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: 60%;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px #ff000055;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: #ff0000;
  box-shadow: 0 0 15px #ff0000aa;
}

/* ===== INDICADORES ===== */
.carousel-indicators [data-bs-target] {
  background-color: #ff0000;
  opacity: 0.4;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.carousel-indicators .active {
  opacity: 1;
  box-shadow: 0 0 10px #ff0000;
  transform: scale(1.3);
}

/* ===== FOOTER ===== */
footer {
  background: #000;
  border-top: 1px solid #ff000033;
  box-shadow: 0 -2px 10px #ff000033;
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: #ff3c3c;
  text-decoration: none;
}

footer a:hover {
  text-shadow: 0 0 10px #ff0000;
}
